<?xml version="1.0"?>
<config>
	<modules>
		<Novalnet_NovalnetPaypal>
			<!-- declare module's version information for database updates -->
			<version>1.0.0</version>
		</Novalnet_NovalnetPaypal>
	</modules>
	
  <frontend>
    <routers>
      <novalnetpaypal>
        <use>standard</use>
        <args>
            <module>Novalnet_NovalnetPaypal</module>
            <frontName>novalnetpaypal</frontName>
        </args>
      </novalnetpaypal>
    </routers>
      <layout>
        <updates>
          <novalnetpaypal>
              <file>novalnetpaypal.xml</file>
          </novalnetpaypal>
        </updates>
      </layout>
    <translate>
      <modules>
        <Novalnet_NovalnetPaypal>
          <files>
            <default>Novalnet_NovalnetPaypal.csv</default>
          </files>
        </Novalnet_NovalnetPaypal>
      </modules>
    </translate>
    <secure_url>
      <novalnetpaypal_novalnetpaypal>/novalnetpaypal/novalnetpaypal/</novalnetpaypal_novalnetpaypal>
    </secure_url>
  </frontend>	

	<global>
		<blocks>
		  <novalnetpaypal>
			<class>Novalnet_NovalnetPaypal_Block</class>
		  </novalnetpaypal>
		</blocks>

	  <models>
		<novalnetpaypal>
		  <class>Novalnet_NovalnetPaypal_Model</class>
		  <resourceModel>novalnetpaypal_mysql4</resourceModel>
		</novalnetpaypal>
		<sales>
		  <rewrite>
			<convert_order>Novalnet_NovalnetPaypal_Model_Convert_Order</convert_order>
			<convert_quote>Novalnet_NovalnetPaypal_Model_Convert_Quote</convert_quote>
		  </rewrite>
		</sales>
		<novalnetpaypal_mysql4>
		  <class>Novalnet_NovalnetPaypal_Model_Mysql4</class>
		  <entities>
			<novalnetpaypal>
			  <table>novalnetpaypal</table>
			</novalnetpaypal>
		  </entities>
		</novalnetpaypal_mysql4>
	  </models>
	  
    <resources>
      <!-- resource identifier -->
      <novalnetpaypal_setup>
        <!-- specify that this resource is a setup resource and used for upgrades -->
        <setup>
          <module>Novalnet_NovalnetPaypal</module>
          <class>Novalnet_NovalnetPaypal_Model_Mysql4_Setup</class>
        </setup>
        <!-- specify database connection for this resource -->
        <connection>
          <use>core_setup</use>
        </connection>
      </novalnetpaypal_setup>
      <novalnetpaypal_write>
        <connection>
          <use>core_write</use>
        </connection>
      </novalnetpaypal_write>
      <novalnetpaypal_read>
        <connection>
          <use>core_read</use>
        </connection>
      </novalnetpaypal_read>
    </resources>	
    <helpers>
      <novalnetpaypal>
          <class>Novalnet_NovalnetPaypal_Helper</class>
      </novalnetpaypal>
    </helpers>
	</global>
	
  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <novalnetpaypal>
        <active>1</active>
        <model>novalnetpaypal/novalnetpaypal</model>
        <order_status>1</order_status>
        <title>Novalnet-novalnetpaypal</title>
        <allowspecific>0</allowspecific>
        <url>https://payport.novalnet.de/paypal_payport</url>
        <customer></customer>
        <project></project>
        <project_pswd></project_pswd>
        <notification_pswd></notification_pswd>
        <check_input_yesno>1</check_input_yesno>
        <createinvoice>0</createinvoice>
        <fast><![CDATA[<a href="%s">Zum automatischen Einrichten hier klicken.</a>]]></fast>
        <url_new></url_new>
        <netherlands>0</netherlands>
      </novalnetpaypal>
    </payment>
  </default> 	
</config>