<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <novalnetpaypal translate="label" module="paygate">
          <label>Novalnet-Paypal</label>
          <comment>Das Passwort ist auf admin.novalnet.de: Stammdaten - Paymentzugriffsschluessel einzusehen. The password is available at admin.novalnet.de: Stammdaten - Paymentzugriffsschluessel.&lt;br&gt;&lt;b&gt;Bitte unbedingt beachten&lt;/b&gt; auch wenn der Livemodus=0 ist, wird der Bestellbetrag abgebucht, wenn echte Kontodaten eingegeben werden. Das ist durch die Implementierung durch den Anbieter Payment Network AG bedingt.</comment>
          <frontend_type>text</frontend_type>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <order_status translate="label">
              <label>New order status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_status>
            <merchant_id translate="label">
              <label>Novalnet Merchant ID</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </merchant_id>
            <auth_code translate="label">
              <label>Novalnet Auth Code</label>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </auth_code>
            <product_id translate="label">
              <label>Novalnet Product ID</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </product_id>
            <tariff_id translate="label">
              <label>Novalnet Tariff ID</label>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </tariff_id>
            <live_mode translate="label">
              <label>Live Mode</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </live_mode>
			<gateway_timeout translate="label">
				<comment>Gateway Timeout in seconds</comment>
				<label>Gateway Timeout</label>
				<frontend_type>text</frontend_type>
				<sort_order>17</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>0</show_in_store>
			</gateway_timeout>			
            <password translate="label">
              <label>Password</label>
              <frontend_type>text</frontend_type>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </password>
            <sort_order translate="label">
                <label>Sort order</label>
                <frontend_type>text</frontend_type>
                <sort_order>10</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </sort_order>
            <title translate="label">
                <label>Title</label>
                <frontend_type>text</frontend_type>
                <sort_order>11</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </title>
            <allowspecific translate="label">
                <label>Payment from applicable countries</label>
                <frontend_type>allowspecific</frontend_type>
                <sort_order>12</sort_order>
                <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </allowspecific>
            <specificcountry translate="label">
                <label>Payment from Specific countries</label>
                <frontend_type>multiselect</frontend_type>
                <sort_order>13</sort_order>
                <source_model>adminhtml/system_config_source_country</source_model>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </specificcountry>
            <createinvoice translate="label">
              <label>Create Invoice</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </createinvoice>
			<paypal_api_username translate='label'>
				<label>PAYPAL API User Name</label>
				<frontend_type>text</frontend_type>
				<sort_order>19</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>				
			</paypal_api_username>
			<paypal_api_password translate='label'>
				<label>PAYPAL API Password</label>
				<frontend_type>text</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</paypal_api_password>
			<paypal_api_signature translate='label'>
				<label>PAYPAL API Signature</label>
				<frontend_type>text</frontend_type>
				<sort_order>21</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>			
			</paypal_api_signature>
            <model>
            </model>
            <min_order_total translate="label">
              <label>Minimum Order Total</label>
              <frontend_type>text</frontend_type>
              <sort_order>180</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </min_order_total>
            <max_order_total translate="label">
              <label>Maximum Order Total</label>
              <frontend_type>text</frontend_type>
              <sort_order>190</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </max_order_total>
			<orderscount translate="label">
				<label>Minimum Orders Count</label>
				<frontend_type>text</frontend_type>
				<sort_order>200</sort_order>                                                              
				<comment>Default: "0" for disabled check | Minimum count of orders (in the past) needed for the customer to use this payment method.</comment>                 <show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>0</show_in_store>
			</orderscount>
          </fields>
        </novalnetpaypal>
      </groups>
    </payment>
  </sections>
</config>
