<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * Part of the payment module of Novalnet AG
 * https://www.novalnet.de
 * If you have found this script useful a small
 * recommendation as well as a comment on merchant form
 * would be greatly appreciated.
 *
 * @category   Novalnet
 * @package    Novalnet_Payment
 * @copyright  Copyright (c) Novalnet AG. (https://www.novalnet.de)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <!-- Defines module with version for database updates -->
    <modules>
        <Novalnet_Payment>
            <version>11.0.0</version>
        </Novalnet_Payment>
    </modules>

    <global>
        <!-- Defines block for Novalnet payment module -->
        <blocks>
            <novalnet_payment>
                <!-- Base class name for block -->
                <class>Novalnet_Payment_Block</class>
            </novalnet_payment>
            <sales>
                <rewrite>
                    <recurring_profile_view>Novalnet_Payment_Block_Recurring_Profile_View</recurring_profile_view>
                </rewrite>
            </sales>
        </blocks>
        <!-- Defines helper for Novalnet payment module -->
        <helpers>
            <novalnet_payment>
                <class>Novalnet_Payment_Helper</class>
            </novalnet_payment>
        </helpers>
        <!-- Defines model (logic) for Novalnet payment module -->
        <models>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Novalnet_Payment_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <recurring_profile>Novalnet_Payment_Model_Recurring_Profile</recurring_profile>
                    <quote_address_total_nominal>Novalnet_Payment_Model_Quote_Address_Total_Nominal</quote_address_total_nominal>
                </rewrite>
            </sales>
            <novalnet_payment>
                <!-- Base class name for model -->
                <class>Novalnet_Payment_Model</class>
                <resourceModel>novalnet_payment_mysql4</resourceModel>
            </novalnet_payment>
            <!-- Novalnet payment module custom tables -->
            <novalnet_payment_mysql4>
                <class>Novalnet_Payment_Model_Mysql4_Resource</class>
                <entities>
                    <transaction_status>
                        <!-- Logs Novalnet transaction details -->
                        <table>novalnet_payment_transaction_status</table>
                    </transaction_status>
                    <transaction_traces>
                        <!-- Logs Novalnet transaction traces details -->
                        <table>novalnet_payment_order_log</table>
                    </transaction_traces>
                    <affiliate_info>
                        <!-- Logs Novalnet affiliate account details -->
                        <table>novalnet_payment_aff_account_detail</table>
                    </affiliate_info>
                    <affiliate_user>
                        <!-- Logs Novalnet affiliate user details -->
                        <table>novalnet_payment_aff_user_detail</table>
                    </affiliate_user>
                    <callback>
                        <!-- Logs Novalnet callback transaction details -->
                        <table>novalnet_payment_callback</table>
                    </callback>
                    <recurring>
                        <!-- Logs Novalnet subscription transaction details -->
                        <table>novalnet_payment_recurring</table>
                    </recurring>
                </entities>
            </novalnet_payment_mysql4>
        </models>

        <resources>
            <!-- Resource identifier -->
            <novalnet_setup>
                <!-- This resource is a setup resource and used for upgrades -->
                <setup>
                    <module>Novalnet_Payment</module>
                </setup>
                <!-- Specify database connection for this resource -->
                <connection>
                    <!-- Do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
                <novalnet_payment_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </novalnet_payment_write>
                <novalnet_payment_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </novalnet_payment_read>
            </novalnet_setup>
        </resources>
        <events>
            <!-- Send order order email -->
            <novalnet_sales_order_email>
                <observers>
                    <novalnet_payment_sales_order_email>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_SalesEmails</class>
                        <method>sendOrderEmail</method>
                    </novalnet_payment_sales_order_email>
                </observers>
            </novalnet_sales_order_email>
            <!-- Send order invoice email -->
            <sales_order_invoice_pay>
                <observers>
                    <novalnet_payment_sales_order_invoice_email>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_SalesEmails</class>
                        <method>sendInvoiceEmail</method>
                    </novalnet_payment_sales_order_invoice_email>
                </observers>
            </sales_order_invoice_pay>
            <!-- Send order creditmemo/refund email -->
            <sales_order_creditmemo_refund>
                <observers>
                    <novalnet_payment_sales_order_creditmemo_email>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_SalesEmails</class>
                        <method>sendCreditmemoEmail</method>
                    </novalnet_payment_sales_order_creditmemo_email>
                </observers>
            </sales_order_creditmemo_refund>
            <!-- Set void/canceled status for Novalnet payments -->
            <sales_order_payment_void>
                <observers>
                    <novalnet_payment_sales_order_canceled_status>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_SalesEmails</class>
                        <method>setVoidOrderStatus</method>
                    </novalnet_payment_sales_order_canceled_status>
                </observers>
            </sales_order_payment_void>
            <!-- Load Novalnet script files (css/js) -->
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <novalnet_payment_prepare_layout_before>
                        <class>Novalnet_Payment_Model_Observer_LoadScripts</class>
                        <method>loadScriptFiles</method>
                    </novalnet_payment_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <!-- Add buttons to sales order view page -->
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <novalnet_payment_sales_order_view_addbutton>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_OrderView</class>
                        <method>addButton</method>
                    </novalnet_payment_sales_order_view_addbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <!-- Add buttons to sales order invoice view page -->
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <novalnet_payment_order_invoice_view_addbutton>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_InvoiceView</class>
                        <method>addButton</method>
                    </novalnet_payment_order_invoice_view_addbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <!-- Get recurring product custom option/period values -->
            <checkout_cart_save_after>
                <observers>
                    <novalnet_payment_checkout_cart_save_after>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_Recurring</class>
                        <method>getProfilePeriodValues</method>
                    </novalnet_payment_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <!-- Set redirect url for recurring payment (Credit Card PCI & PayPal) -->
            <checkout_submit_all_after>
                <observers>
                    <novalnet_payment_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>Novalnet_Payment_Model_Observer_Recurring</class>
                        <method>setPaymentRedirectUrl</method>
                    </novalnet_payment_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
        </events>
        <!-- Defines callback email template for Novalnet payment module -->
        <template>
            <email>
                <novalnet_callback_email_template module="novalnet_payment">
                    <label>Novalnet Callback Email</label>
                    <file>novalnet/novalnet_callback_email.html</file>
                    <type>html</type>
                </novalnet_callback_email_template>
            </email>
        </template>
    </global>

    <frontend>
        <!-- Defines frontend controller -->
        <routers>
            <novalnet_payment>
                <use>standard</use>
                <args>
                    <module>Novalnet_Payment</module>
                    <frontName>novalnet_payment</frontName>
                </args>
            </novalnet_payment>
            <checkout>
                <args>
                    <modules>
                        <Novalnet_Payment before="Mage_Checkout">Novalnet_Payment_Checkout</Novalnet_Payment>
                    </modules>
                </args>
            </checkout>
        </routers>
        <!-- Defines frontend layout for updates -->
        <layout>
            <updates>
                <novalnet>
                    <file>novalnet.xml</file>
                </novalnet>
            </updates>
        </layout>
        <!-- Defines frontend language translate file -->
        <translate>
            <modules>
                <novalnet_Payment>
                    <files>
                        <default>Novalnet_Payment.csv</default>
                    </files>
                </novalnet_Payment>
            </modules>
        </translate>
    </frontend>

    <admin>
        <!-- Defines adminhtml controller -->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <novalnet_payment after="Mage_Adminhtml">Novalnet_Payment_Adminhtml</novalnet_payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <!-- Defines adminhtml layout for updates -->
        <layout>
            <updates>
                <novalnet_payment>
                    <file>novalnet.xml</file>
                </novalnet_payment>
            </updates>
        </layout>
        <!-- Defines adminhtml language translate file -->
        <translate>
            <modules>
                <novalnet_Payment>
                    <files>
                        <default>Novalnet_Payment.csv</default>
                    </files>
                </novalnet_Payment>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <!-- Defines default global/payment configuration values -->
        <novalnet_global>
            <novalnet>
                <gateway_timeout>240</gateway_timeout>
                <enable_payment_logo>1</enable_payment_logo>
                <canceled_order_email>0</canceled_order_email>
                <latest_updates_notify>1</latest_updates_notify>
            </novalnet>
            <order_status_mapping>
                <order_status>processing</order_status>
                <void_status>canceled</void_status>
            </order_status_mapping>
        </novalnet_global>
        <payment>
            <novalnetCc>
                <active>0</active>
                <title>Kreditkarte</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <cc_types>VI,MC</cc_types>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetCc</model>
            </novalnetCc>
            <novalnetSepa>
                <active>0</active>
                <title>Lastschrift SEPA</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetSepa</model>
            </novalnetSepa>
            <novalnetInvoice>
                <active>0</active>
                <title>Kauf auf Rechnung</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <payment_guarantee>0</payment_guarantee>
                <payment_guarantee_force>0</payment_guarantee_force>
                <payment_ref_one>1</payment_ref_one>
                <payment_ref_two>1</payment_ref_two>
                <payment_ref_three>1</payment_ref_three>
                <model>novalnet_payment/method_novalnetInvoice</model>
            </novalnetInvoice>
            <novalnetPrepayment>
                <active>0</active>
                <title>Vorauskasse</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <payment_ref_one>1</payment_ref_one>
                <payment_ref_two>1</payment_ref_two>
                <payment_ref_three>1</payment_ref_three>
                <model>novalnet_payment/method_novalnetPrepayment</model>
            </novalnetPrepayment>
            <novalnetPaypal>
                <active>0</active>
                <title>PayPal</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetPaypal</model>
            </novalnetPaypal>
            <novalnetBanktransfer>
                <active>0</active>
                <title>Sofortüberweisung</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetBanktransfer</model>
            </novalnetBanktransfer>
            <novalnetIdeal>
                <active>0</active>
                <title>iDEAL</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetIdeal</model>
            </novalnetIdeal>
            <novalnetEps>
                <active>0</active>
                <title>eps</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetEps</model>
            </novalnetEps>
            <novalnetGiropay>
                <active>0</active>
                <title>giropay</title>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>novalnet_payment/method_novalnetGiropay</model>
            </novalnetGiropay>
        </payment>
    </default>
</config>
