<?xml version="1.0" encoding="UTF-8"?>
<config>
	<global>
      <template>
		<email>
			<novalnet_callback_email_template module="Mage_Novalnet">
				<label>Novalnet Callback Email</label>
				<file>novalnet/novalnet_callback_email.html</file>
				<type>html</type>
			</novalnet_callback_email_template>
		</email>
	  </template>

	<!-- declare model group for new module -->
		<models>
			<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
			<novalnet>
				<!-- base class name for the model group -->
				<class>Mage_Novalnet_Model</class>
			</novalnet>
		</models>
		<fieldsets>
			<sales_convert_quote_payment>
				<nn_account_number><to_order_payment>*</to_order_payment></nn_account_number>
				<nn_bank_sorting_code><to_order_payment>*</to_order_payment></nn_bank_sorting_code>
				<nn_account_holder><to_order_payment>*</to_order_payment></nn_account_holder>
				<nn_elv_country><to_order_payment>*</to_order_payment></nn_elv_country>
				<nn_account_number_at><to_order_payment>*</to_order_payment></nn_account_number_at>
				<nn_bank_sorting_code_at><to_order_payment>*</to_order_payment></nn_bank_sorting_code_at>
				<nn_account_holder_at><to_order_payment>*</to_order_payment></nn_account_holder_at>
				<nn_elv_country_at><to_order_payment>*</to_order_payment></nn_elv_country_at>
				<nn_testorder><to_order_payment>*</to_order_payment></nn_testorder>
				<nn_comments><to_order_payment>*</to_order_payment></nn_comments>
				<id><to_order_payment>nn_id</to_order_payment></id>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
				<nn_account_number><to_quote_payment>*</to_quote_payment></nn_account_number>
				<nn_bank_sorting_code><to_quote_payment>*</to_quote_payment></nn_bank_sorting_code>
				<nn_account_holder><to_quote_payment>*</to_quote_payment></nn_account_holder>
				<nn_elv_country><to_quote_payment>*</to_quote_payment></nn_elv_country>
				<nn_account_number_at><to_quote_payment>*</to_quote_payment></nn_account_number_at>
				<nn_bank_sorting_code_at><to_quote_payment>*</to_quote_payment></nn_bank_sorting_code_at>
				<nn_account_holder_at><to_quote_payment>*</to_quote_payment></nn_account_holder_at>
				<nn_elv_country_at><to_quote_payment>*</to_quote_payment></nn_elv_country_at>
				<nn_testorder><to_quote_payment>*</to_quote_payment></nn_testorder>
				<nn_comments><to_quote_payment>*</to_quote_payment></nn_comments>
				<id><to_quote_payment>nn_id</to_quote_payment></id>
			</sales_convert_order_payment>
		</fieldsets>
		<!-- declare resource setup for new module -->
		<resources>
			<!-- resource identifier -->
			<novalnet_setup>
				<!-- specify that this resource is a setup resource and used for upgrades -->
				<setup>
					<!-- which module to look for install/upgrade files in -->
					<module>Mage_Novalnet</module>
				</setup>
				<!-- specify database connection for this resource -->
				<connection>
					<!-- do not create new connection, use predefined core setup connection -->
					<use>core_setup</use>
				</connection>
			</novalnet_setup>
			<novalnet_write>
				<use>core_write</use>
			</novalnet_write>
			<novalnet_read>
				<use>core_read</use>
			</novalnet_read>
		</resources>
		<helpers>
			<novalnet>
				<class>Mage_Novalnet_Helper</class>
			</novalnet>
		</helpers>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Mage_Novalnet>
					<files>
						<default>Mage_Novalnet.csv</default>
					</files>
				</Mage_Novalnet>
			</modules>
		</translate>
		<layout>
			<updates>
				<novalnet>
					<file>novalnet.xml</file>
				</novalnet>
			</updates>
		</layout>
    </adminhtml>
	<frontend>
		<routers>
			<novalnet_secure>
				<use>standard</use>
				<args>
					<module>Mage_Novalnet</module>
					<frontName>novalnet</frontName>
				</args>
			</novalnet_secure>
		</routers>
		<translate>
			<modules>
				<Mage_Novalnet>
					<files>
						<default>Mage_Novalnet.csv</default>
					</files>
				</Mage_Novalnet>
			</modules>
		</translate>
		 <layout>
            <updates>
                <novalnet>
                    <file>novalnet.xml</file>
                </novalnet>
            </updates>
        </layout>
	</frontend>
	<!-- declare default configuration values for this module -->
	<default>
		<!-- 'payment' configuration section (tab) -->
		<payment>
			<!-- cc-start -->
			<novalnetCc>
				<cctypes>VI,MC</cctypes>
				<!-- by default this payment method is inactive -->
				<active>0</active>
				<!-- model to handle logic for this payment method -->
				<model>novalnet/novalnetCc</model>
				<!-- order status for new orders paid by this payment method -->
				<order_status>0</order_status>
				<payment_action>authorize_capture</payment_action>
				<allowspecific>0</allowspecific>
				<!-- default title for payment checkout page and order view page -->
				<title>Novalnet Kreditkarte</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetCc>
			<novalnetElvgerman>
				<active>0</active>
				<model>novalnet/novalnetElvgerman</model>
				<payment_action>authorize_capture</payment_action>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Lastschrift Deutschland</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetElvgerman>
			<novalnetElvaustria>
				<active>0</active>
				<model>novalnet/novalnetElvaustria</model>
				<payment_action>authorize_capture</payment_action>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Lastschrift Österreich</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetElvaustria>
			<novalnetPrepayment>
				<active>0</active>
				<prepaymentcountries>DE,AT</prepaymentcountries>
				<model>novalnet/novalnetPrepayment</model>
				<payment_action>authorize_capture</payment_action>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Vorauskasse</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetPrepayment>
			<novalnetInvoice>
				<active>0</active>
				<invoicecountries>DE,AT</invoicecountries>
				<model>novalnet/novalnetInvoice</model>
				<payment_action>authorize_capture</payment_action>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Kauf auf Rechnung</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetInvoice>
			<novalnetPhonepayment>
				<active>0</active>
				<Phonepaymentcountries>DE,AT</Phonepaymentcountries>
				<model>novalnet/novalnetPhonepayment</model>
				<payment_action>authorize_capture</payment_action>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Telefonpayment</title>
				<gateway_timeout>90</gateway_timeout>
			</novalnetPhonepayment>
			<novalnet_secure>
				<cctypes>VI,MC</cctypes>
				<active>0</active>
				<model>novalnet/novalnetSecure</model>
				<order_status>0</order_status>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<title>Novalnet Kreditkarte 3D Secure</title>
			</novalnet_secure>
			<novalnetCcpci>
				<cctypes>VI,MC</cctypes>
				<active>0</active>
				<payment_action>sale</payment_action>
				<model>novalnet/novalnetCcpci</model>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Kreditkarte PCI</title>
				<createinvoice>0</createinvoice>
			</novalnetCcpci>
			<novalnetElvdepci>
				<active>0</active>
				<payment_action>sale</payment_action>
				<model>novalnet/novalnetElvdepci</model>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Lastschrift Deutschland PCI</title>
				<createinvoice>0</createinvoice>
			</novalnetElvdepci>
			<novalnetElvatpci>
				<active>0</active>
				<payment_action>sale</payment_action>
				<model>novalnet/novalnetElvatpci</model>
				<order_status>0</order_status>
				<allowspecific>0</allowspecific>
				<title>Novalnet Lastschrift Österreich PCI</title>
				<createinvoice>0</createinvoice>
			</novalnetElvatpci>
		</payment>
	</default>
</config>