<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<!-- payment tab -->
		<payment>
			<groups>
				<novalnetElvgerman translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Direct Debit German</label>
					<!-- position between other payment methods -->
					<sort_order>680</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<acdc_check translate="label">
							<label>ACDC Check</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</acdc_check>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
						<comment translate="label">
							<label>Notice for Clients</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</comment>
					</fields>
				</novalnetElvgerman>
				<novalnetElvaustria translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Direct Debit Austria</label>
					<!-- position between other payment methods -->
					<sort_order>681</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
						<comment translate="label">
							<label>Notice for Clients</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</comment>
					</fields>
				</novalnetElvaustria>
				<novalnetCc translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Credit Card</label>
					<!-- position between other payment methods -->
					<sort_order>682</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>novalnet/novalnet_source_cctype</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cctypes>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<booking_reference translate="label">
							<label>Booking Reference</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</booking_reference>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
					</fields>
				</novalnetCc>
				<novalnet_secure translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Novalnet 3D-Secure Credit Card</label>
					<!-- position between other payment methods -->
					<sort_order>683</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>novalnet/novalnet_source_cctype</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cctypes>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<booking_reference translate="label">
							<label>Booking Reference</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</booking_reference>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
				</fields>
				</novalnet_secure>
				<novalnetPrepayment translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Prepayment</label>
					<!-- position between other payment methods -->
					<sort_order>690</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_new</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
					</fields>
				</novalnetPrepayment>
				<novalnetInvoice translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Invoice</label>
					<!-- position between other payment methods -->
					<sort_order>689</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_new</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
                        </tariff_id>
						<payment_duration translate="label">
							<label>Payment Duration</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</payment_duration>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
					</fields>
				</novalnetInvoice>
				<novalnetPhonepayment translate="label" module="novalnet">
					<!-- will have title 'New Module' -->
					<label>Phonepayment</label>
					<!-- position between other payment methods -->
					<sort_order>691</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<merchant_id translate="label">
							<label>Novalnet Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<auth_code translate="label">
							<label>Novalnet Auth Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</auth_code>
						<product_id translate="label">
							<label>Novalnet Product ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_id>
						<tariff_id translate="label">
							<label>Novalnet Tariff ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tariff_id>
						<user_group_excluded translate="label">
							<label>User Group Excluded</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</user_group_excluded>
					</fields>
				</novalnetPhonepayment>
			</groups>
		</payment>
	</sections>
</config>
