<?xml version="1.0"?>
<config>
  <modules>
     <Novalnet_Sofortueberweisung>
      <!-- declare module's version information for database updates -->
      <version>1.0.0</version>
     </Novalnet_Sofortueberweisung>
  </modules>

  <frontend>
    <routers>
      <sofortueberweisung>
        <use>standard</use>
        <args>
            <module>Novalnet_Sofortueberweisung</module>
            <frontName>sofortueberweisung</frontName>
        </args>
      </sofortueberweisung>
    </routers>
      
    <translate>
      <modules>
        <Novalnet_Sofortueberweisung>
          <files>
            <default>Novalnet_Sofortueberweisung.csv</default>
          </files>
        </Novalnet_Sofortueberweisung>
      </modules>
    </translate>
    <secure_url>
      <sofortueberweisung_sofortueberweisung>/sofortueberweisung/sofortueberweisung/</sofortueberweisung_sofortueberweisung>
    </secure_url>
  </frontend>	

  <admin>
    <routers>
      <sofortueberweisung>
        <use>admin</use>
        <args>
          <module>Novalnet_Sofortueberweisung</module>
          <frontName>sofortueberweisung</frontName>
        </args>
      </sofortueberweisung>
    </routers>
  </admin>

  <adminhtml>
    
    <translate>
      <modules>
        <Novalnet_Sofortueberweisung>
          <files>
            <default>Novalnet_Sofortueberweisung.csv</default>
          </files>
        </Novalnet_Sofortueberweisung>
      </modules>
      </translate>
  </adminhtml>

  <global>
    <blocks>
      <sofortueberweisung>
        <class>Novalnet_Sofortueberweisung_Block</class>
      </sofortueberweisung>
    </blocks>

    <helpers>
      <sofortueberweisung>
          <class>Novalnet_Sofortueberweisung_Helper</class>
      </sofortueberweisung>
    </helpers>

  <params_pnso>
    <types>
      <backlink>
        <param>backlink</param>
        <value><![CDATA[sofortueberweisung/adminhtml_sofortueberweisung/saveConfig]]></value>
      </backlink>
      <debug>
        <param>debug</param>
        <value>0</value>
      </debug>
      <input_hash>
        <param>projectssetting_interface_input_hash_check_enabled</param>
        <value>1</value>
      </input_hash>
      <projectssetting_project_password>
        <param>projectssetting_project_password</param>
        <value></value>
      </projectssetting_project_password>
      <project_notification_password>
        <param>project_notification_password</param>
        <value></value>
      </project_notification_password>
      <user_partner_id>
        <param>user_partner_id</param>
        <value>x</value>
      </user_partner_id>
      <project_shop_system_id>
        <param>project_shop_system_id</param>
        <value>121</value>
      </project_shop_system_id>
      <projectssetting_interface_success_link>
        <param>projectssetting_interface_success_link</param>
        <value><![CDATA[index.php/sofortueberweisung/sofortueberweisung/return/orderId/-USER_VARIABLE_0-/transId/-TRANSACTION-/var1/-USER_VARIABLE_1_MD5_PASS-]]></value>
      </projectssetting_interface_success_link>
      <projectssetting_interface_success_link_redirect>
        <param>projectssetting_interface_success_link_redirect</param>
        <value>1</value>
      </projectssetting_interface_success_link_redirect>
      <projectssetting_interface_cancel_link>
        <param>projectssetting_interface_cancel_link</param>
        <value><![CDATA[index.php/sofortueberweisung/sofortueberweisung/error/orderId/-USER_VARIABLE_0-]]></value>
      </projectssetting_interface_cancel_link>
      <projectssetting_interface_timeout_link>
        <param>projectssetting_interface_timeout_link</param>
        <value><![CDATA[index.php/sofortueberweisung/sofortueberweisung/error/orderId/-USER_VARIABLE_0-]]></value>
      </projectssetting_interface_timeout_link>
      <projectssetting_interface_timeout>
        <param>projectssetting_interface_timeout</param>
        <value>600</value>
      </projectssetting_interface_timeout>
      <projectssetting_locked_amount>
        <param>projectssetting_locked_amount</param>
        <value>1</value>
      </projectssetting_locked_amount>
      <projectssetting_locked_reason_1>
        <param>projectssetting_locked_reason_1</param>
        <value>1</value>
      </projectssetting_locked_reason_1>
      <projectsnotification_http_activated>
        <param>projectsnotification_http_activated</param>
        <value>1</value>
      </projectsnotification_http_activated>
      <projectsnotification_http_url>
        <param>projectsnotification_http_url</param>
        <value><![CDATA[index.php/sofortueberweisung/sofortueberweisung/returnhttp/orderId/-USER_VARIABLE_0-/transId/-TRANSACTION-/var1/-USER_VARIABLE_1_MD5_PASS-]]></value>
      </projectsnotification_http_url>
      <projectsnotification_http_method>
        <param>projectsnotification_http_method</param>
        <value>1</value>
      </projectsnotification_http_method>
      <project_hash_algorithm>
        <param>project_hash_algorithm</param>
        <value>sha1</value>
      </project_hash_algorithm>
      <projectsnotification_email_email>
        <param>projectsnotification_email_email</param>
        <value></value>
      </projectsnotification_email_email>
      <projectsnotification_email_activated>
        <param>projectsnotification_email_activated</param>
        <value>1</value>
      </projectsnotification_email_activated>
      <projectsnotification_email_language_id>
        <param>projectsnotification_email_language_id</param>
        <value>DE</value>
      </projectsnotification_email_language_id>
      <project_name>
        <param>project_name</param>
        <value>Magento</value>
      </project_name>
    </types>
  </params_pnso>

  <models>
    <sofortueberweisung>
      <class>Novalnet_Sofortueberweisung_Model</class>
      <resourceModel>sofortueberweisung_mysql4</resourceModel>
    </sofortueberweisung>
    <sales>
      <rewrite>
        <convert_order>Novalnet_Sofortueberweisung_Model_Convert_Order</convert_order>
        <convert_quote>Novalnet_Sofortueberweisung_Model_Convert_Quote</convert_quote>
      </rewrite>
    </sales>
    <sofortueberweisung_mysql4>
      <class>Novalnet_Sofortueberweisung_Model_Mysql4</class>
      <entities>
        <sofortueberweisung>
          <table>sofortueberweisung</table>
        </sofortueberweisung>
      </entities>
    </sofortueberweisung_mysql4>
  </models>

    <resources>
      <!-- resource identifier -->
      <sofortueberweisung_setup>
        <!-- specify that this resource is a setup resource and used for upgrades -->
        <setup>
          <module>Novalnet_Sofortueberweisung</module>
          <class>Novalnet_Sofortueberweisung_Model_Mysql4_Setup</class>
        </setup>
        <!-- specify database connection for this resource -->
        <connection>
          <use>core_setup</use>
        </connection>
      </sofortueberweisung_setup>
      <sofortueberweisung_write>
        <connection>
          <use>core_write</use>
        </connection>
      </sofortueberweisung_write>
      <sofortueberweisung_read>
        <connection>
          <use>core_read</use>
        </connection>
      </sofortueberweisung_read>
    </resources>
  </global>

  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <sofortueberweisung>
        <active>0</active>
        <model>sofortueberweisung/sofortueberweisung</model>
        <order_status>1</order_status>
        <title>Novalnet Sofortüberweisung</title>
        <allowspecific>0</allowspecific>
        <url>https://payport.novalnet.de/online_transfer_payport</url>
        <customer></customer>
        <project></project>
        <project_pswd></project_pswd>
        <notification_pswd></notification_pswd>
        <check_input_yesno>1</check_input_yesno>
        <createinvoice>0</createinvoice>
        <fast><![CDATA[<a href="%s">Zum automatischen Einrichten hier klicken.</a>]]></fast>
        <url_new><![CDATA[https://www.sofortueberweisung.de/payment/createNew/]]></url_new>
        <netherlands>0</netherlands>
      </sofortueberweisung>
    </payment>
  </default> 
</config>
